<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0" @mouseenter="hoverStop()" @mouseleave="hoverPlay()">

                <div class="item">
                    <img :src="slides[slideCurrent].image" :alt="slides[slideCurrent].title"  />
                    <div class="text">
                        <h3>{{slides[slideCurrent].title}}</h3>
                        <p>
                            {{slides[slideCurrent].text}}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="prevClick()"></div>
                    <div class="next" @click="nextClick()"></div>
                    <div class="thumb" v-for="(n,index) in slides" :class ="index == slideCurrent ? 'active': '' " @click=" slideCurrent = (index)" >
                        <!-- <h1>{{n}}</h1> -->
                        <img :src="n.image" :alt="n.title" />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- <div class="thumb" v-for="n in slides">
        <img :src="slides[].image" :alt="slides[].title" />
    </div> -->

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>